<section>
    <div class="slider">  
      <ul class="slides">  
        <li>  
          <img src="/assets/img/cupcakes2.jpg">  
          <!-- random image -->  
          <div class="caption center-align">  
            <img src="/assets/img/PINA_01.png" alt="Logo" style="width: 250px;height: 250px;">  
            
          </div>  
        </li>  

    </ul>  
</div>
  </section>

  <section>
    <div class="container">
      <div class="center-align" style="padding-top: 5%;">
          <h2 class="titulo">Nuestros servicios</h2>
          <p>Esta seccion tendra el contenido que presentara su empresa</p>
      </div>
      <div class="row">
        <div class="row">
        <div class="col s12 m4">
          <div class="">
            <div class="center">
              <img src="/assets/icons/birthday-cake.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">Tortas</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="">
            <div class="center">
              <img src="/assets/icons/apple-pie.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">Pai</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="">
            <div class="center">
              <img src="/assets/icons/bread.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">Pan</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4" style="padding-top: 5%;">
          <div class="">
            <div class="center">
              <img src="/assets/icons/cheers.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">Tortas</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4" style="padding-top: 5%;">
          <div class="">
            <div class="center">
              <img src="/assets/icons/cookies.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">Tortas</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4" style="padding-top: 5%;">
          <div class="">
            <div class="center">
              <img src="/assets/icons/mixer.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">Tortas</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section style="background-color: #ebebeb">
    <div class="container" style="padding-top: 5%; padding-bottom: 5%;">
      <div class="center-align" >
          <h2 class="titulo">Lo mejor para ti</h2>
          <p>Esta seccion tendra el contenido que presentara su empresa</p>
      </div>
      <div class="row">
        <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/img/torta-fresas.jpg">
            </div>
            <div class="card-content">
              <p class="card-title center-align">Tortas</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/img/cupcakes.jpg">       
            </div>
            <div class="card-content">
              <p class="card-title center-align">Cupcakes</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/img/dessert.jpg">
            </div>
            <div class="card-content">
              <p class="card-title center-align">Mesa de postres</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center-align">
              <a href="#" class="">Ver mas</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="center-align" style="padding-top: 5%;">
          <h2 class="titulo">Porque elegirnos</h2>
          <p>Esta seccion tendra el contenido que presentara su empresa</p>
      </div>
      <div class="row">
        <div class="row">
        <div class="col s12 m4" style="padding-top: 5%;">
          <div class="">
            <div class="center">
              <img src="/assets/icons/cheers.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">Celebra tu fiesta <strong>Tranquilo!</strong></p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4" style="padding-top: 5%;">
          <div class="">
            <div class="center">
              <img src="/assets/icons/cookies.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">Tiempos reales</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4" style="padding-top: 5%;">
          <div class="">
            <div class="center">
              <img src="/assets/icons/mixer.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">La mejor Preparacion</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>


<!-- Content -->


<!--div class="">
  
  <div style="text-align:center">
    <h1>Bienvenido a {{ title }}!</h1>
    <img width="300" alt="Piñascake Logo" src="/assets/img/logo_pinascake.png">
  </div>

  <div>
   <p>El precio aproximado de tu pedido es de {{ a + b }}</p> <!-- aqui se esta aplicando string interpolation>
   <hr>
   <button [disabled]="listo">Presioname</button>
  </div>

  <button type="button" class="btn btn-primary">Primary</button>

</div-->
