

  <section class="v-header container" sty>
    <div class="fullscreen-video-wrap">
      <!--  https://www.videvo.net/video/typing-on-computer-white-bg/4475/ -->
      <!-- DO NOT USE THIS VIDEO, I JUST NEEDED A HOSTED VIDEO FOR THIS CODEPEN> USE THE ONE ABOVE -->
      <video src="assets/video/videoprueba.mp4" autoplay="" loop="">
    </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content center">
      <img src="assets/img/PINA_01.png" alt="" width="300" height="300" class="center">
      <p class="titulo">Disfruta de los dulces mas deliciosos, hechos con la dedicasion y pasion que solo te dara<strong style="font-size: 45px"> Piñas'Cake</strong></p>
      <!--a class="btn">Find Out More</a-->
    </div>
  </section>

  <section>
    <div class="container">
      <div class="center-align" style="padding-top: 5%;">
          <h2 class="titulo">Nuestros servicios</h2>
          <p>Esta seccion tendra el contenido que presentara su empresa</p>
      </div>
      <div class="row">
        <div class="row">
        <div class="col s12 m4">
          <div class="cards">
            <div class="center">
              <img src="/assets/icons/birthday-cake.svg" style="width: 80px;">
            </div>
            <div class="card-contents">
              <h3 class="center-align card-titles">Tortas</h3>
              <p class="card-subtitles">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="cards">
            <div class="center">
              <img src="/assets/icons/apple-pie.svg" style="width: 80px;">
            </div>
            <div class="card-contents">
              <h3 class="center-align card-titles">Pai</h3>
              <p class="card-subtitles">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="cards">
            <div class="center">
              <img src="/assets/icons/bread.svg" style="width: 80px;">
            </div>
            <div class="card-contents">
              <h3 class="center-align card-titles">Pan</h3>
              <p class="card-subtitles">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="cards">
            <div class="center">
              <img src="/assets/icons/cheers.svg" style="width: 80px;">
            </div>
            <div class="card-contents">
              <h3 class="center-align card-titles">Brindis</h3>
              <p class="card-subtitles">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="cards">
            <div class="center">
              <img src="/assets/icons/cookies.svg" style="width: 80px;">
            </div>
            <div class="card-contents">
              <h3 class="center-align card-titles">Galletas</h3>
              <p class="card-subtitles">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="cards">
            <div class="center">
              <img src="/assets/icons/mixer.svg" style="width: 80px;">
            </div>
            <div class="card-contents">
              <h3 class="center-align card-titles">Preparacion</h3>
              <p class="card-subtitles">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>


      </div>
      </div>
    </div>
  </section>

  <section class="section-parati">
    <div class="container" style="padding-top: 5%; padding-bottom: 5%;">
      <div class="center-align card-header" >
          <h2 class="titulo">Lo mejor para ti</h2>
          <p>Esta seccion tendra el contenido que presentara su empresa</p>
      </div>
      <div class="row">
        <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/img/torta-fresas.jpg">
            </div>
            <div class="card-content">
              <p class="card-title center-align">Tortas</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/img/cupcakes.jpg">       
            </div>
            <div class="card-content">
              <p class="card-titles center-align">Cupcakes</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="/assets/img/dessert.jpg">
            </div>
            <div class="card-content">
              <p class="card-title center-align">Mesa de postres</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center-align">
              <a href="#" class="">Ver mas</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="center-align" style="padding-top: 5%;">
          <h2 class="titulo">Porque elegirnos</h2>
          <p>Esta seccion tendra el contenido que presentara su empresa</p>
      </div>
      <div class="row">
        <div class="row">
        <div class="col s12 m4" style="padding-top: 5%;">
          <div class="">
            <div class="center">
              <img src="/assets/icons/cheers.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">Celebra tu fiesta <strong>Tranquilo!</strong></p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4" style="padding-top: 5%;">
          <div class="">
            <div class="center">
              <img src="/assets/icons/cookies.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">Tiempos reales</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4" style="padding-top: 5%;">
          <div class="">
            <div class="center">
              <img src="/assets/icons/mixer.svg" style="width: 80px;">
            </div>
            <div class="">
              <p class="center-align">La mejor Preparacion</p>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class=" center-align">
              <a href="#">Ver mas</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>


<!-- Content -->


<!--div class="">
  
  <div style="text-align:center">
    <h1>Bienvenido a {{ title }}!</h1>
    <img width="300" alt="Piñascake Logo" src="/assets/img/logo_pinascake.png">
  </div>

  <div>
   <p>El precio aproximado de tu pedido es de {{ a + b }}</p> <!-- aqui se esta aplicando string interpolation>
   <hr>
   <button [disabled]="listo">Presioname</button>
  </div>

  <button type="button" class="btn btn-primary">Primary</button>

</div-->
