<!--The content below is only a placeholder and can be replaced.-->

<!-- Nav var -->

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="/assets/img/PINA_01.png" width="100" height="100" alt="Logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/index">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Presupuesto</a></li>
        <li routerLinkActive="active"><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </div>
  </nav>

  

<router-outlet></router-outlet>




